USE [master]
GO
/****** Object:  Database [MARKETDB]    Script Date: 1.08.2026 09:54:23 ******/
CREATE DATABASE [MARKETDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MARKETDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MARKETDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MARKETDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MARKETDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MARKETDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MARKETDB]
GO
/****** Object:  Table [dbo].[BANKALAR]    Script Date: 1.08.2026 09:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANKALAR](
	[BANKAID] [int] IDENTITY(1,1) NOT NULL,
	[BANKAADI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BANKA] PRIMARY KEY CLUSTERED 
(
	[BANKAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BANKA] UNIQUE NONCLUSTERED 
(
	[BANKAADI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FATURA]    Script Date: 1.08.2026 09:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FATURA](
	[FATURAID] [int] IDENTITY(1,1) NOT NULL,
	[FATURANO] [nvarchar](50) NOT NULL,
	[TUKETICIID] [int] NULL,
	[SATISID] [int] NOT NULL,
	[FATURA_TARIHI] [datetime] NOT NULL,
 CONSTRAINT [PK_FATURA] PRIMARY KEY CLUSTERED 
(
	[FATURAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IL]    Script Date: 1.08.2026 09:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IL](
	[ILID] [int] IDENTITY(1,1) NOT NULL,
	[ILADI] [nvarchar](50) NOT NULL,
	[ILKODU] [int] NOT NULL,
 CONSTRAINT [PK_IL] PRIMARY KEY CLUSTERED 
(
	[ILID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ILADI] UNIQUE NONCLUSTERED 
(
	[ILADI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ILKODU] UNIQUE NONCLUSTERED 
(
	[ILKODU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ILCE]    Script Date: 1.08.2026 09:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ILCE](
	[ILCEID] [int] IDENTITY(1,1) NOT NULL,
	[ILCEADI] [nvarchar](100) NOT NULL,
	[ILID] [int] NOT NULL,
 CONSTRAINT [PK_ILCE] PRIMARY KEY CLUSTERED 
(
	[ILCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ILCE_ADI] UNIQUE NONCLUSTERED 
(
	[ILCEADI] ASC,
	[ILID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KARTLAR]    Script Date: 1.08.2026 09:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KARTLAR](
	[KARTID] [int] IDENTITY(1,1) NOT NULL,
	[KARTADI] [nvarchar](50) NOT NULL,
	[BANKAID] [int] NOT NULL,
 CONSTRAINT [PK_KART] PRIMARY KEY CLUSTERED 
(
	[KARTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KATEGORI]    Script Date: 1.08.2026 09:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KATEGORI](
	[KATEGORIID] [int] IDENTITY(1,1) NOT NULL,
	[KATEGORIADI] [nvarchar](100) NOT NULL,
	[USTKATEGORIID] [int] NULL,
 CONSTRAINT [PK_KATEGORI] PRIMARY KEY CLUSTERED 
(
	[KATEGORIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ANA] UNIQUE NONCLUSTERED 
(
	[KATEGORIADI] ASC,
	[USTKATEGORIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAHALLE]    Script Date: 1.08.2026 09:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAHALLE](
	[MAHALLEID] [int] IDENTITY(1,1) NOT NULL,
	[MAHALLEADI] [nvarchar](100) NOT NULL,
	[MAHALLETURU] [nvarchar](20) NULL,
	[ILCEID] [int] NOT NULL,
 CONSTRAINT [PK_MAHALLE] PRIMARY KEY CLUSTERED 
(
	[MAHALLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MAHALLE_ADI] UNIQUE NONCLUSTERED 
(
	[MAHALLEADI] ASC,
	[ILCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARKETLER]    Script Date: 1.08.2026 09:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARKETLER](
	[MARKETID] [int] IDENTITY(1,1) NOT NULL,
	[MARKETADI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MARKET] PRIMARY KEY CLUSTERED 
(
	[MARKETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MARKET_ADI] UNIQUE NONCLUSTERED 
(
	[MARKETADI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ODEME_SEKLI]    Script Date: 1.08.2026 09:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ODEME_SEKLI](
	[ODEMEID] [int] IDENTITY(1,1) NOT NULL,
	[ODEMEADI] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ODEME] PRIMARY KEY CLUSTERED 
(
	[ODEMEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ODEME_TURU]    Script Date: 1.08.2026 09:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ODEME_TURU](
	[TURID] [int] IDENTITY(1,1) NOT NULL,
	[TUR_ADI] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_TUR] PRIMARY KEY CLUSTERED 
(
	[TURID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SATIS_KALEMI]    Script Date: 1.08.2026 09:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SATIS_KALEMI](
	[KALEMID] [int] IDENTITY(1,1) NOT NULL,
	[SATISID] [int] NOT NULL,
	[URUNID] [int] NOT NULL,
	[MIKTAR] [decimal](10, 2) NOT NULL,
	[BIRIM_FIYAT] [decimal](10, 2) NOT NULL,
	[KALEM_TOPLAMI] [decimal](10, 2) NOT NULL,
	[INDIRIM_TUTARI] [decimal](10, 2) NULL,
	[KDV_TUTARI] [decimal](10, 2) NULL,
	[DIGER_VERGI_TUTARI] [decimal](10, 2) NULL,
	[NET_TUTAR] [decimal](10, 2) NULL,
 CONSTRAINT [PK_KALEM] PRIMARY KEY CLUSTERED 
(
	[KALEMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SATISLAR]    Script Date: 1.08.2026 09:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SATISLAR](
	[SATISID] [int] IDENTITY(1,1) NOT NULL,
	[TUKETICIID] [int] NULL,
	[SUBEID] [int] NOT NULL,
	[SATIS_TARIHI] [datetime] NOT NULL,
	[SATIS_TOPLAMI] [decimal](10, 2) NULL,
	[INDIRIM_TOPLAMI] [decimal](10, 2) NULL,
	[KDV_TOPLAMI] [decimal](10, 2) NULL,
	[ODEMEID] [int] NOT NULL,
	[TURID] [int] NOT NULL,
	[KARTID] [int] NULL,
	[TAKSIT_SAYISI] [int] NULL,
	[TAKSIT_TUTARI] [decimal](10, 2) NULL,
	[DIGER_VERGILER_TOPLAMI] [decimal](10, 2) NULL,
 CONSTRAINT [PK_SATISLAR] PRIMARY KEY CLUSTERED 
(
	[SATISID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBE]    Script Date: 1.08.2026 09:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBE](
	[SUBEID] [int] IDENTITY(1,1) NOT NULL,
	[SUBEADI] [nvarchar](100) NOT NULL,
	[MARKETID] [int] NOT NULL,
	[MAHALLEID] [int] NOT NULL,
 CONSTRAINT [PK_SUBE] PRIMARY KEY CLUSTERED 
(
	[SUBEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SUBE] UNIQUE NONCLUSTERED 
(
	[SUBEADI] ASC,
	[MARKETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUKETICI]    Script Date: 1.08.2026 09:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUKETICI](
	[TUKETICIID] [int] IDENTITY(1,1) NOT NULL,
	[ADI] [nvarchar](50) NOT NULL,
	[SOYADI] [nvarchar](50) NOT NULL,
	[TELNO] [nvarchar](10) NOT NULL,
	[EPOSTA] [nvarchar](50) NULL,
	[MAHALLEID] [int] NULL,
 CONSTRAINT [PK_UYE_TUKETICI] PRIMARY KEY CLUSTERED 
(
	[TUKETICIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UYE_TEL] UNIQUE NONCLUSTERED 
(
	[TELNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URUN]    Script Date: 1.08.2026 09:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URUN](
	[URUNID] [int] IDENTITY(1,1) NOT NULL,
	[URUNADI] [nvarchar](100) NOT NULL,
	[MARKA] [nvarchar](50) NULL,
	[CINS] [nvarchar](50) NULL,
	[FIYAT] [decimal](10, 2) NOT NULL,
	[KATEGORIID] [int] NOT NULL,
 CONSTRAINT [PK_URUN] PRIMARY KEY CLUSTERED 
(
	[URUNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FATURA]  WITH CHECK ADD  CONSTRAINT [FK_FATURA_SATISLAR] FOREIGN KEY([SATISID])
REFERENCES [dbo].[SATISLAR] ([SATISID])
GO
ALTER TABLE [dbo].[FATURA] CHECK CONSTRAINT [FK_FATURA_SATISLAR]
GO
ALTER TABLE [dbo].[FATURA]  WITH CHECK ADD  CONSTRAINT [FK_FATURA_TUKETICI] FOREIGN KEY([TUKETICIID])
REFERENCES [dbo].[TUKETICI] ([TUKETICIID])
GO
ALTER TABLE [dbo].[FATURA] CHECK CONSTRAINT [FK_FATURA_TUKETICI]
GO
ALTER TABLE [dbo].[ILCE]  WITH CHECK ADD  CONSTRAINT [FK_IL] FOREIGN KEY([ILID])
REFERENCES [dbo].[IL] ([ILID])
GO
ALTER TABLE [dbo].[ILCE] CHECK CONSTRAINT [FK_IL]
GO
ALTER TABLE [dbo].[KARTLAR]  WITH CHECK ADD  CONSTRAINT [FK_KART_BANKA] FOREIGN KEY([BANKAID])
REFERENCES [dbo].[BANKALAR] ([BANKAID])
GO
ALTER TABLE [dbo].[KARTLAR] CHECK CONSTRAINT [FK_KART_BANKA]
GO
ALTER TABLE [dbo].[KATEGORI]  WITH CHECK ADD  CONSTRAINT [FK_KATEGORI] FOREIGN KEY([USTKATEGORIID])
REFERENCES [dbo].[KATEGORI] ([KATEGORIID])
GO
ALTER TABLE [dbo].[KATEGORI] CHECK CONSTRAINT [FK_KATEGORI]
GO
ALTER TABLE [dbo].[MAHALLE]  WITH CHECK ADD  CONSTRAINT [FK_ILCE] FOREIGN KEY([ILCEID])
REFERENCES [dbo].[ILCE] ([ILCEID])
GO
ALTER TABLE [dbo].[MAHALLE] CHECK CONSTRAINT [FK_ILCE]
GO
ALTER TABLE [dbo].[SATIS_KALEMI]  WITH CHECK ADD  CONSTRAINT [FK_KALEM_SATIS] FOREIGN KEY([SATISID])
REFERENCES [dbo].[SATISLAR] ([SATISID])
GO
ALTER TABLE [dbo].[SATIS_KALEMI] CHECK CONSTRAINT [FK_KALEM_SATIS]
GO
ALTER TABLE [dbo].[SATIS_KALEMI]  WITH CHECK ADD  CONSTRAINT [FK_KALEM_URUN] FOREIGN KEY([URUNID])
REFERENCES [dbo].[URUN] ([URUNID])
GO
ALTER TABLE [dbo].[SATIS_KALEMI] CHECK CONSTRAINT [FK_KALEM_URUN]
GO
ALTER TABLE [dbo].[SATISLAR]  WITH CHECK ADD  CONSTRAINT [FK_SATISLAR_KART] FOREIGN KEY([KARTID])
REFERENCES [dbo].[KARTLAR] ([KARTID])
GO
ALTER TABLE [dbo].[SATISLAR] CHECK CONSTRAINT [FK_SATISLAR_KART]
GO
ALTER TABLE [dbo].[SATISLAR]  WITH CHECK ADD  CONSTRAINT [FK_SATISLAR_ODEME] FOREIGN KEY([ODEMEID])
REFERENCES [dbo].[ODEME_SEKLI] ([ODEMEID])
GO
ALTER TABLE [dbo].[SATISLAR] CHECK CONSTRAINT [FK_SATISLAR_ODEME]
GO
ALTER TABLE [dbo].[SATISLAR]  WITH CHECK ADD  CONSTRAINT [FK_SATISLAR_SUBE] FOREIGN KEY([SUBEID])
REFERENCES [dbo].[SUBE] ([SUBEID])
GO
ALTER TABLE [dbo].[SATISLAR] CHECK CONSTRAINT [FK_SATISLAR_SUBE]
GO
ALTER TABLE [dbo].[SATISLAR]  WITH CHECK ADD  CONSTRAINT [FK_SATISLAR_TUKETICI] FOREIGN KEY([TUKETICIID])
REFERENCES [dbo].[TUKETICI] ([TUKETICIID])
GO
ALTER TABLE [dbo].[SATISLAR] CHECK CONSTRAINT [FK_SATISLAR_TUKETICI]
GO
ALTER TABLE [dbo].[SATISLAR]  WITH CHECK ADD  CONSTRAINT [FK_SATISLAR_TUR] FOREIGN KEY([TURID])
REFERENCES [dbo].[ODEME_TURU] ([TURID])
GO
ALTER TABLE [dbo].[SATISLAR] CHECK CONSTRAINT [FK_SATISLAR_TUR]
GO
ALTER TABLE [dbo].[SUBE]  WITH CHECK ADD  CONSTRAINT [FK_MAHALLE_SUBE] FOREIGN KEY([MAHALLEID])
REFERENCES [dbo].[MAHALLE] ([MAHALLEID])
GO
ALTER TABLE [dbo].[SUBE] CHECK CONSTRAINT [FK_MAHALLE_SUBE]
GO
ALTER TABLE [dbo].[SUBE]  WITH CHECK ADD  CONSTRAINT [FK_MARKET] FOREIGN KEY([MARKETID])
REFERENCES [dbo].[MARKETLER] ([MARKETID])
GO
ALTER TABLE [dbo].[SUBE] CHECK CONSTRAINT [FK_MARKET]
GO
ALTER TABLE [dbo].[TUKETICI]  WITH CHECK ADD  CONSTRAINT [FK_UYE_TUKETICI] FOREIGN KEY([MAHALLEID])
REFERENCES [dbo].[MAHALLE] ([MAHALLEID])
GO
ALTER TABLE [dbo].[TUKETICI] CHECK CONSTRAINT [FK_UYE_TUKETICI]
GO
ALTER TABLE [dbo].[URUN]  WITH CHECK ADD  CONSTRAINT [FK_URUN_KATEGORI] FOREIGN KEY([KATEGORIID])
REFERENCES [dbo].[KATEGORI] ([KATEGORIID])
GO
ALTER TABLE [dbo].[URUN] CHECK CONSTRAINT [FK_URUN_KATEGORI]
GO
/****** Object:  StoredProcedure [dbo].[SP_FATURA_EKLE]    Script Date: 1.08.2026 09:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FATURA_EKLE]
@FATURANO NVARCHAR(20),
@TUKETICIID INT =NULL,
@SATISID INT,
@FATURA_TARIHI DATETIME
AS
BEGIN
	INSERT INTO FATURA
	(
	FATURANO,
	TUKETICIID,
	SATISID,
	FATURA_TARIHI
	)
	VALUES
	(
	@FATURANO,
	@TUKETICIID,
	@SATISID,
	@FATURA_TARIHI
)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IL_LISTELE]    Script Date: 1.08.2026 09:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_IL_LISTELE]
AS
BEGIN
	SELECT ILID, ILADI, ILKODU
	FROM IL
	ORDER BY ILADI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ILCE_LISTELE]    Script Date: 1.08.2026 09:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--CREATE PROCEDURE SP_IL_LISTELE
--AS
--BEGIN
--	SELECT ILID, ILADI, ILKODU
--	FROM IL
--	ORDER BY ILADI
--END
--EXEC SP_IL_LISTELE;
CREATE PROCEDURE [dbo].[SP_ILCE_LISTELE]
@ILID INT
AS
BEGIN
	SELECT ILCEID, ILCEADI, ILID FROM ILCE
	WHERE ILID = @ILID
	ORDER BY ILCEADI
END

--EXEC SP_ILCE_LISTELE @ILID = 4
GO
/****** Object:  StoredProcedure [dbo].[SP_SATIS_EKLE]    Script Date: 1.08.2026 09:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SATIS_EKLE]
	@TUKETICIID INT = NULL,
	@SUBEID INT,
	@SATIS_TARIHI DATETIME  = '2026-05-26 10:00:00',
	@ODEMEID INT,
	@TURID INT,
	@KARTID INT = NULL,
	@TAKSIT_SAYISI INT = NULL,
	@TAKSIT_TUTARI DECIMAL(10,2) = NULL
AS
BEGIN
	DECLARE @SATISID INT	
	INSERT INTO SATISLAR
	(
	TUKETICIID,
	SUBEID ,
	SATIS_TARIHI,
	ODEMEID,
	TURID,
	KARTID,
	TAKSIT_SAYISI,
	TAKSIT_TUTARI
	)
	VALUES
	(
	@TUKETICIID,
	@SUBEID ,
	@SATIS_TARIHI,
	@ODEMEID,
	@TURID,
	@KARTID,
	@TAKSIT_SAYISI,
	@TAKSIT_TUTARI
	)
	SET @SATISID =SCOPE_IDENTITY()
  SELECT @SATISID AS YENI_SATISID

END
GO
/****** Object:  StoredProcedure [dbo].[SP_SATIS_GUNCELLE]    Script Date: 1.08.2026 09:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SATIS_GUNCELLE]
@SATISID INT
AS
BEGIN
	UPDATE SATISLAR
 	SET  KDV_TOPLAMI = (SELECT SUM(KDV_TUTARI) FROM SATIS_KALEMI WHERE SATISID = @SATISID),
 		 INDIRIM_TOPLAMI = (SELECT SUM(INDIRIM_TUTARI) FROM SATIS_KALEMI WHERE SATISID = @SATISID),
 		 DIGER_VERGILER_TOPLAMI = (SELECT SUM(DIGER_VERGI_TUTARI) FROM SATIS_KALEMI WHERE SATISID = @SATISID),
 		 SATIS_TOPLAMI = (SELECT SUM(KALEM_TOPLAMI) FROM SATIS_KALEMI WHERE SATISID = @SATISID)
 	WHERE SATISID = @SATISID

END
GO
/****** Object:  StoredProcedure [dbo].[SP_SATIS_KALEMI_EKLE]    Script Date: 1.08.2026 09:54:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SATIS_KALEMI_EKLE]
@SATISID INT,
@URUNID INT,
@MIKTAR DECIMAL(10,2),
@BIRIM_FIYAT DECIMAL(10,2),
@KDV_TUTARI DECIMAL(10,2) = NULL,
@INDIRIM_TUTARI DECIMAL(10,2) = NULL,
@DIGER_VERGI_TUTARI DECIMAL(10,2)= NULL

AS
BEGIN 
	
	DECLARE @KALEM_TOPLAMI DECIMAL(10,2)
	DECLARE @NET_TUTAR DECIMAL(10,2)
	SET @KALEM_TOPLAMI = @MIKTAR * @BIRIM_FIYAT
	SET 
		@NET_TUTAR = @KALEM_TOPLAMI - (ISNULL(@KDV_TUTARI, 0) + ISNULL(@INDIRIM_TUTARI, 0) +
		ISNULL(@DIGER_VERGI_TUTARI, 0)) 
	
	
	INSERT INTO SATIS_KALEMI
	(
	SATISID, 
	URUNID, 
	MIKTAR, 
	BIRIM_FIYAT,
	NET_TUTAR,
	INDIRIM_TUTARI,
	KDV_TUTARI, 
	DIGER_VERGI_TUTARI, 
	KALEM_TOPLAMI)
	VALUES
	(
	@SATISID,
	@URUNID, 
	@MIKTAR,
	@BIRIM_FIYAT,
	@NET_TUTAR,
	@INDIRIM_TUTARI,
	@KDV_TUTARI,
	@DIGER_VERGI_TUTARI,
	@KALEM_TOPLAMI
	)
	
		
END
GO
USE [master]
GO
